.inicio {
  background-image: linear-gradient(to top, #f3d8c7, #e4c3ad);
  grid-area: header;
  border: 1px groove #4d4646;
  margin: 2px 4px;
}
.inicio .inicio__titulo {
  color: #4d4646;
  text-align: center;
  font-size: 35px;
  padding-top: 16px;
  padding-bottom: 10px;
}
.inicio .menu {
  background-color: #efe5dc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 20px;
  position: relative;
}
.inicio .menu ul li {
  padding: 5px;
  font-size: 20px;
  list-style-type: none;
}
.inicio .menu ul li:hover ul {
  display: block;
}
.inicio .menu ul li a {
  text-decoration: none;
  color: #4d4646;
}
.inicio .menu ul li a:hover {
  font-weight: bold;
}

footer {
  border-top: 0.5px groove #d8e2dc;
  background-image: linear-gradient(to bottom, #f3d8c7, #caaf9d);
  padding: 20px;
  margin: 2px;
  grid-area: footer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
footer .mapa, footer .redes, footer .redes h4, footer .mapa h4 {
  padding-bottom: 5px;
}
footer .redes {
  margin: 10px;
}
footer .redes a {
  color: #4d4646;
  text-decoration: none;
}
footer .redes a img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin: 5px;
}

.body__index {
  margin: 2px;
  background-color: rgba(248, 237, 235, 0.6509803922);
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.6fr 1fr 0.5fr 0.5fr;
  grid-template-areas: "header header header header" "main main main main" "info info info info" "horarios horarios spotify spotify" "footer footer footer footer";
}

.main .intro__text ul li {
  text-align: center;
  list-style: none;
  padding: 5px;
}
.main .index_galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}
.main .index_galeria img {
  padding: 10px;
  width: 350px;
  height: 230px;
}
.main .index_galeria img:hover {
  width: 352px;
  height: 232px;
}
.main .horarios {
  padding: 30px;
  grid-area: horarios;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main .horarios h4 {
  padding-bottom: 5px;
}
.main .horarios tr th, .main .horarios tr td {
  padding: 10px 20px;
}

.spotify {
  grid-area: spotify;
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.spotify .playlist {
  padding: 10px;
}

.img__practica {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 25px 10px;
  margin-bottom: 10px;
}
.img__practica img {
  width: 400px;
  height: 280px;
  border: 1px groove #bdbba9;
}
.img__practica img:hover {
  width: 405px;
  height: 285px;
}

.body__estilos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.6fr 1fr 0.5fr;
  grid-template-areas: "header header header header" "main main main main" "main main main main" "footer footer footer footer";
  background-color: rgba(248, 237, 235, 0.6509803922);
}

.titulo_estilos {
  text-align: center;
  font-size: 26px;
  line-height: 30px;
  padding-top: 40px;
}

.main_meditacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_meditacion .carousel {
  align-self: center;
}
.main_meditacion .carousel .carousel-inner .d-block {
  width: 500px;
  height: 330px;
}
.main_meditacion .meditacionLista {
  padding: 10px 60px;
  margin: 40px;
}
.main_meditacion .meditacionLista .ul li {
  list-style-type: lower-latin;
  line-height: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.body {
  margin: 2px;
  background-color: rgba(248, 237, 235, 0.6509803922);
  height: 100vh;
}

.main {
  padding: 5px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
.main .intro {
  text-align: center;
  font-size: 26px;
  line-height: 30px;
  padding-top: 30px;
}
.main .intro__text {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  padding: 20px;
  margin: 0px 40px;
}
.main .section__info {
  margin: 30px 80px;
  padding: 10px 15px 16px 30px;
  border: 1px groove #706f63;
  overflow: scroll;
  height: 380px;
  line-height: 25px;
  background-color: rgba(248, 237, 235, 0.6509803922);
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
}
.main .section__info .titulo {
  padding: 8px;
  text-align: justify;
}

.estilos__galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.estilos__galeria img {
  padding: 5px;
  margin: 5px 0px;
  width: 500px;
  height: 380px;
  border: 1px groove #713d4b;
}
.estilos__galeria img:hover {
  width: 505px;
  height: 385px;
}

/* MEDIAS Q */
@media screen and (max-width: 768px) {
  .body__index {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.8fr 0.3fr 0.2fr 0.2fr 0.3fr;
    grid-template-areas: "header" "main" "info" "horarios" "spotify" "footer";
    justify-content: center;
  }

  .inicio {
    width: 100%;
  }

  #inicio .menu li {
    font-size: 1rem;
  }

  .main .intro__text {
    font-size: 16px;
    line-height: 20px;
    padding: 2px;
    margin: 10px;
  }
  .main .horarios {
    width: 100%;
    padding: 10px;
    align-items: center;
    padding: 1px;
  }
  .main .horarios h4 {
    padding-bottom: 2px;
  }
  .main .horarios tr th,
.main .horarios tr td {
    padding: 2px;
  }
  .main .section__info {
    margin: 10px;
  }

  .index_galeria,
.estilos__galeria,
.carousel-inner {
    width: 100%;
  }

  .spotify {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  footer,
.mapa,
footer .mapa h4,
footer .redes,
footer .redes h4,
.redes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inicio__titulo {
    font-size: 30px;
  }

  .body__estilos {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.8fr 0.3fr 0.3fr;
    grid-template-areas: "header" "main" "main" "footer";
    justify-content: center;
  }

  .titulo_estilos,
.intro {
    font-size: 24px;
    padding-top: 15px;
  }

  .img__practica img,
.index_galeria img,
.img_meditacion img,
.estilos__galeria img,
.img_meditacion img {
    margin: 5px 0px;
    width: 80%;
    height: auto;
  }

  .d-block {
    max-width: 98%;
  }

  .formulario {
    margin: 0px;
    padding: 10px;
    width: 100%;
  }

  .main_contacto {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 375px) {
  .body {
    margin: 0;
  }

  .main .index_galeria img {
    padding: 5px;
    margin: 1px;
  }
  .main .intro {
    font-size: 22px;
  }
  .main .intro__text {
    font-size: 20px;
  }
  .main .intro__text ul li {
    font-size: 20px;
  }
  .main .section__info {
    margin: 2px;
  }
  .main .img__practica {
    padding: 5px;
  }

  .main_meditacion .carousel .carousel-inner .d-block {
    width: 350px;
    height: 250px;
  }

  .main_contacto img {
    display: none;
  }
}/*# sourceMappingURL=estilo.css.map */