.body__estilos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.6fr 1fr 0.5fr;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "info info info info"
        "footer footer footer footer";
    background-color: $colorFondo;
}

.titulo_estilos {
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    padding-top: 40px;
}




