footer {
    border-top: 0.5px groove #d8e2dc;
    background-image: linear-gradient(to bottom, #f3d8c7, #caaf9d);
    padding: 20px;
    margin: 2px;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    .mapa {
        padding-bottom: 5px;

        h4 {
            @extend .mapa;
        }
    }

    .redes {
        @extend .mapa;
        margin: 10px;
        a {
            color: $colorLetras;
            text-decoration: none;
        }
    }
}