.body__index {
  margin: 2px;
  background-color: $colorFondo;
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.6fr 1fr 0.5fr 0.5fr;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "info info info info"
    "horarios horarios spotify spotify"
    "footer footer footer footer";
}

.index_galeria {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;

  img {
    padding: 10px;
    width: 350px;
    height: 230px;

    &:hover {
      width: 352px;
      height: 232px;
    }
  }
}

.horarios {
  padding: 30px 30px 30px 70px;
  grid-area: horarios;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  h4 {
    padding-bottom: 5px;
  }
}

.main {
  .intro__text {
    ul li {
      text-align: center;
      list-style: none;
      padding: 5px;
    }
  }
}

  .spotify{
    grid-area: spotify;
    padding: 30px 70px 30px 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    .playlist{
      padding: 10px;
    }
  }
