.body__index {
  margin: 2px;
  background-color: $colorFondo;
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1.6fr 1fr 0.5fr 0.5fr;
  grid-template-areas:
    "header header header header"
    "main main main main"
    "info info info info"
    "horarios horarios . ."
    "footer footer footer footer";
}

  .index_galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1rem;

    img {
      padding: 5px;
      width: 350px;
      height: 230px;

      &:hover {
        width: 355px;
        height: 235px;
      }
    }
  }

.horarios {
  padding: 30px 0px 50px 50px;
  grid-area: horarios;

  h4 {
    padding-bottom: 5px;
  }
}
