.main_meditacion {
    display: flex;
    flex-direction: column;
    align-items: center;

    .carousel {
        .carousel-inner {
            .carousel-item {
                .img_meditacion {
                    max-width: 100%;
                    width: 700px;
                    height: 480px;
                    align-self: center;
                    @include borde (#bdbba9);

                }

            }
        }
    }
}

.meditacionLista {
    padding: 10px 60px;
    margin: 40px;

    .ul li {
        list-style-type: lower-latin;
        line-height: 25px;

    }
}