.main_meditacion {
    display: flex;
    flex-direction: column;
    align-items: center;

    .carousel {
        align-self: center;

        .carousel-inner {
            .d-block {
                width: 500px;
                height: 330px;
            }
        }
    }


    .meditacionLista {
        padding: 10px 60px;
        margin: 40px;

        .ul li {
            list-style-type: lower-latin;
            line-height: 25px;

        }
    }
}