.img__practica {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    img {
        width: 400px;
        height: 280px;
        padding: 5px;
        @include borde (#bdbba9);
        &:hover {
            width: 410px;
            height: 290px;
        }
    }
}


