.img__practica {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 25px 10px;
    margin-bottom: 10px;
    img {
        width: 400px;
        height: 280px;
        @include borde (#bdbba9);
        &:hover {
            width: 405px;
            height: 285px;
        }
    }
}


