@import "variables";
@import "mixin";
@import "header";
@import "footer";
@import "index";
@import "practica";
@import "estilos";
@import "meditacion";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.body {
    margin: 2px;
    background-color: $colorFondo;
    height: 100vh;
}

.main {
    padding: 5px;
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;

    .intro {
        text-align: center;
        font-size: 26px;
        line-height: 30px;
        padding-top: 30px;
    }

    .intro__text {
        text-align: center;
        font-size: 18px;
        line-height: 25px;
        padding: 20px;
        margin: 0px 40px;
    }

    .section__info {
        margin: 30px 80px;
        padding: 10px 15px 16px 30px;
        @include borde (#706f63);
        overflow: scroll;
        height: 380px;
        line-height: 25px;
        background-color: $colorFondo;
        grid-area: info;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;

        .titulo {
            padding: 8px;
            text-align: justify;
        }
    }
}



.estilos__galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    img {
        padding: 5px;
        margin: 5px 0px;
        width: 500px;
        height: 380px;
        @include borde (#713d4b);

        &:hover {
            width: 505px;
            height: 385px;
        }
    }
}

/* MEDIAS Q */

@media screen and (max-width: 768px){
    .body__index {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1.8fr 0.3fr 0.2fr 0.2fr 0.3fr;
        grid-template-areas:
            "header"
            "main"
            "info"
            "horarios"
            "spotify"
            "footer";
        justify-content: center;
    }

    .inicio {
        width: 100%;
    }

    #inicio .menu li {
        font-size: 1rem;
    }

    .main {
        .intro__text {
            font-size: 16px;
            line-height: 20px;
            padding: 2px;
            margin: 10px;
        }

        .horarios {
            width: 100%;
            padding: 10px;
            align-items: center;
            padding: 1px;

            h4 {
                padding-bottom: 2px;
            }

            tr {

                th,
                td {
                    padding: 2px;
                }
            }
        }
        .section__info {
            margin: 10px;
        }
    }

    .index_galeria,
    .estilos__galeria,
    .carousel-inner {
        width: 100%;
    }

    .spotify {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    footer,
    .mapa,
    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inicio__titulo {
        font-size: 30px;
    }

    .body__estilos {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1.8fr 0.3fr 0.3fr;
        grid-template-areas:
            "header"
            "main"
            "main"
            "footer";
        justify-content: center;
    }

    .titulo_estilos,
    .intro {
        font-size: 24px;
        padding-top: 15px;
    }

    .img__practica img,
    .index_galeria img,
    .img_meditacion img,
    .estilos__galeria img,
    .img_meditacion img {
        margin: 5px 0px;
        width: 80%;
        height: auto;
    }

    .d-block {
        max-width: 98%;
    }

    .formulario {
        margin: 0px;
        padding: 10px;
        width: 100%;
    }

    .main_contacto {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 375px){

    .body {
        margin: 0;
    }

    .main {
        .index_galeria img {
            padding: 5px;
            margin: 1px;
        }

        .intro {
            font-size: 22px;
        }

        .intro__text {
            font-size: 20px;

            ul li {
                font-size: 20px;
            }
        }

        .section__info {
            margin: 5px 2px;
        }

        .img__practica {
            padding: 5px;
        }
    }

    .main_meditacion .carousel .carousel-inner .d-block {
        width: 350px;
        height: 250px;
        padding: 5px 0px;
    }

    .main_contacto img {
        display: none;
    }
}