@import "variables";
@import "mixin";
@import "header";
@import "footer";
@import "index";
@import "practica";
@import "estilos";
@import "meditacion";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

body {
    margin: 2px;
    background-color: $colorFondo;
    height: 100vh;
}

.main {
    padding: 5px;
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .intro {
        text-align: center;
        font-size: 26px;
        line-height: 30px;
        padding-top: 40px;
    }

    .intro__text {
        text-align: justify;
        font-size: 18px;
        line-height: 25px;
        padding: 20px;
        margin: 0px 40px;
    }
}

.section__info {
    margin: 30px;
    padding: 10px 15px 16px 30px;
    @include borde (#706f63);
    overflow: scroll;
    height: 380px;
    line-height: 25px;
    background-color: $colorFondo;
    grid-area: info;

    .titulo {
        padding: 8px;
        text-align: justify;
    }
}

.estilos__galeria {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2rem;

    img {
        padding: 5px;
        width: 500px;
        height: 380px;
        @include borde (#713d4b);

        &:hover {
            width: 520px;
            height: 400px;
        }
    }
}

/* MEDIAS Q */

@media screen and (max-width: 480px) {
    .body__index {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1.8fr 0.3fr 0.2fr 0.3fr;
        grid-template-areas:
            "header"
            "main"
            "info"
            "horarios"
            "footer";
        justify-content: center;
    }

    #inicio .menu li {
        font-size: 1rem;
    }

    .intro__text {
        text-align: justify;
        font-size: 16px;
        line-height: 20px;
        padding: 10px;
        margin: 0px 30px;
    }

    .index_galeria,
    .estilos__galeria {
        width: 100%;
    }

    .horarios {
        width: 90%;
        margin-right: 5px;
    }

    footer,
    .mapa,
    .redes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .inicio__titulo {
        font-size: 30px;
    }

    .body__estilos {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1.8fr 0.3fr 0.3fr;
        grid-template-areas:
            "header"
            "main"
            "info"
            "footer";
        justify-content: center;
    }

    .titulo_estilos,
    .intro {
        font-size: 24px;
        padding-top: 15px;
    }

    .img_meditacion,
    .estilos__galeria img {
        width: 100%;
        height: auto;
    }

    .formulario {
        margin: 0px;
        padding: 10px;
        width: 100%;
    }

    .main_contacto {
        display: flex;
        flex-direction: column-reverse;
    }
}
